<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <!--该配置文件跟jdbc包没有关系，主要是c3p0中的配置，主要作用是配置c3p0连接池-->
       <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
           <!--注入属性，设置数据库信息-->
           <property name="driverClass" value="org.gjt.mm.mysql.Driver"></property>
           <property name="user" value="root"></property>
           <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring?characterEncoding=UTF-8"></property>
           <property name="password" value="root"></property>
       </bean>


    <!--创建service和dai的实例-->
    <bean id="service" class="cn.web.c3p0.Service">
        <property name="dao" ref="dao"></property>
    </bean>

    <bean id="dao" class="cn.web.c3p0.Dao">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <!--配置jdbctemplate对象-->
    <bean id ="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <!--把datasource注入到模版对象里-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>
</beans>